* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    background-color: #f1f1f1;
}

title {
    letter-spacing: 2px;
}

.title {
    margin-top: 20px;
    letter-spacing: 6px;
    font-size: 20px;
    padding: 25px;
    border: 1px solid lightgray;
    background: white;
}

hr {
    padding-bottom: 1px;
    border: 0;
    border-top: 1px solid black;
}

main {
    margin-right: 20px;
}

.list-group {
    padding-top: 10px;
}

.list-group-item {
    letter-spacing: 1.5px;
}

.ellipse {
    letter-spacing: 5px;
    padding-bottom: 10px;
}

.notes-paragraph {
     letter-spacing: 1.5px;
}

label {
    font-weight: normal;
    letter-spacing: 1.2px;
}

#personal {
    background-color: lightpink;
}

#work {
        background-color: lightblue;
}
.label-default {
    background: none;
    color: gray;
    border: 1px solid gray;
}

.label {
    font-weight: 400;
}

.sand {
    background: #7F7E6E;
    color: white;
    font-weight: 300;
}

.turquoise {
    background: #43AA8B;
    color: white;
    font-weight: 300;
}

.blue {
    background: #2E5266;
    color: white;
    font-weight: 300;
}

.salmon {
    background: #EB5160;
    color: white;
    font-weight: 300;
}

.green {
    background: #254441;
    color: white;
    font-weight: 300;
}

